<div class="bg-light dark:bg-darkmode-light rounded-lg shadow-lg overflow-hidden">
    <div class="flex flex-col">
        <div>
            {{partial "image" (dict "Src" .Params.cover "Alt" .Title "Class" "w-full lg:h-full! h-[200px]! object-cover rounded")}}
        </div>
        <div>
            <div class="px-6 py-10">
                <span class="mb-3">{{ T "travel_brochure" }}</span>
                <h2 class="h3 mb-5">
                    {{ .Title }}
                </h2>
                <p class="mb-5">
                    {{ .Description | markdownify }}
                </p>
                    <a href="{{ .Params.external_url }}" target="_blank" class="btn btn-primary ">
                        <span>{{T "purchase"}}</span>
                        <span class="ml-3">→</span>
                    </a>
            </div>
        </div>
    </div>
</div>


