<!-- Call to actions -->
{{ with site.GetPage "sections/call-to-action" }}
{{ if .Params.enable }}
<section class="mb-28">
  <div class="container">
    <div class="bg-light dark:bg-darkmode-light rounded-xl px-4 py-16 xl:p-20">
      <div class="flex items-center justify-center text-center flex-col">
        <h2 class="mb-2">
          {{ .Title | markdownify }}
        </h2>
        <p class="mb-6">
          {{ .Params.description | markdownify }}
        </p>
        {{ with .Params.form }}
        {{ if .enable }}
        <div class="lg:w-6/12 md:w-8/12 sm:w-10/12 w-full  mx-auto flex justify-center">
          <form action="{{ site.Params.newsletter }}" method="post"
            class="flex w-full border border-dark! dark:border-white! rounded-md overflow-hidden">
            <input type="text" class="form-input rounded-none" placeholder="{{ .placeholder }}" required name="email">
            <button class="btn btn-primary rounded-none! cursor-pointer">
              {{ .button }}
            </button>
          </form>
        </div>
        {{ end }}
        {{ end }}

      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /Call to actions -->