<div class="bg-body dark:bg-darkmode-body h-full flex flex-col">
  {{ $image:= .Params.image }}
  {{ $cover:= .Params.cover }}
  {{ $thumb := $image | default $cover }}
  <a href="{{ .RelPermalink }}" class="relative mb-6 overflow-hidden rounded aspect-[3/2] block">
    {{ if $thumb }}
      {{ partial "image" (dict "Src" $thumb "Context" .Page "Alt" .Title "Class" "w-full h-full object-cover" "Command" "Fill" "Size" "800x533 Center") }}
    {{ end }}
    {{- $cardFrame := resources.Get "images/card-frame.png" -}}
    {{- if $cardFrame -}}
      <img src="{{ $cardFrame.RelPermalink }}" alt="" class="absolute inset-0 w-full h-full pointer-events-none select-none" aria-hidden="true">
    {{- end -}}
  </a>
  <div>
    {{ if .Params.country }}
      <a href="{{ `country/` | relLangURL }}{{ .Params.country | urlize }}/">{{ .Params.country }}</a>{{ if .Params.city }}・{{ end }}
    {{ end }}
    {{ if .Params.city }}
      <a href="{{ `city/` | relLangURL }}{{ .Params.city | urlize }}/">{{ .Params.city }}</a>
    {{ end }}
  </div>
  <h4 class="mb-3">
    <a href="{{ .RelPermalink }}">
      {{ .Title }}
    </a>
  </h4>
  {{ $categories:= .Params.categories }}
  {{ if $categories }}
  <ul class="mb-4">
    <li class="mr-4 inline-block">
      <a href="{{ `authors/` | relLangURL }}{{ .Params.Author | urlize }}/">
        <i class="fa-regular fa-circle-user mr-2"></i>{{ .Params.author }}
      </a>
    </li>
    <li class="mr-4 inline-block">
      <i class="fa-regular fa-folder mr-1"></i>
      {{ range $i,$p:= $categories }}
      <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/" class="ms-1">{{ . | humanize }}{{ if ne $i
        (sub (len $categories) 1) }}
        {{ "," }}
        {{ end }}
      </a>
      {{ end }}
    </li>
  </ul>
  {{ end }}
  <p class="mb-6 flex-grow">{{ .Description | plainify }}</p>
  <a class="btn btn-outline-primary btn-sm self-start" href="{{ .RelPermalink }}">
    {{ T "read_more" }}
  </a>
</div>
