{{ define "main" }}
  {{ partial "page-header" . }}


  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="md:col-10 lg:col-6 mx-auto">
          <form  id="contact-form">
            <div class="mb-6">
              <label for="name" class="form-label">
                {{T "full_name"}} <span class="text-red-500">*</span>
              </label>
              <input
                id="full_name"
                name="full_name"
                class="form-input"
                placeholder="John Doe"
                type="text" required />
            </div>
            <div class="mb-6">
              <label for="email" class="form-label">
               {{T "email_address"}} <span class="text-red-500">*</span>
              </label>
              <input
                id="email"
                name="email"
                class="form-input"
                placeholder="john.doe@email.com"
                type="email" required />
            </div>
            <div class="mb-6">
              <label for="message" class="form-label">
                {{T "message"}} <span class="text-red-500">*</span>
              </label>
              <textarea
                id="message"
                name="message"
                class="form-input"
                placeholder="輸入訊息..."
                required
                rows="8"></textarea>
            </div>
            <button type="submit" class="btn btn-primary cursor-pointer" id="submit-btn">{{ T "submit"}}</button>
            <p class=" mt-4 font-semibold" id="form-status"></p>
          </form>
        </div>
      </div>
    </div>
  </section>

  <script>
    const contactFormDomElemTow =  document.getElementById("contact-form");
    if (contactFormDomElemTow) {
      document.getElementById("contact-form").addEventListener("submit", function (event) {
      event.preventDefault();
      let formObject = {
        fullName: document.getElementById("full_name").value.trim(),
        email: document.getElementById("email").value.trim(),
        message: document.getElementById("message").value.trim(),
      };
  
      formSubmission(formObject, this, "{{ site.Params.contact_form_action | safeJS }}");
    });
    }
  </script>

  <!-- Call to Action -->
{{ partial "call-to-action" }}

  <!-- google map -->
  {{ with site.Params.google_map }}
    {{ if .enable }}
      <div
        id="map"
        style="height: 400px;"
        data-latitude="{{ .map_latitude }}"
        data-longitude="{{ .map_longitude }}"
        data-marker="{{ .map_marker | relURL }}"
        data-marker-name="{{ site.Title }}"></div>
    {{ end }}
  {{ end }}


  {{ if site.Params.google_map.enable }}
    {{ $gmap:= resources.Get "plugins/maps/google-map.js" }}
    <script defer src="{{ $gmap.RelPermalink }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ site.Params.google_map.map_api_key }}&libraries=places"></script>
  {{ end }}

{{ end }}
