<header class="header {{ if site.Params.navbar_fixed }}sticky top-0{{ end }} z-30">
  <nav class="navbar container">
    <!-- logo -->
    <div class="order-0">
      <!-- navbar brand/logo -->
      <a class="navbar-brand flex items-center gap-3" href="{{ site.Home.RelPermalink }}">
        <!--{{ partial "logo" }}--> <!-- hide logo -->
        <span class="mt-0 text-2xl select-none font-gasoek">{{site.Params.logo_text}}</span>
      </a>
    </div>
    <!-- navbar toggler -->
    <input id="nav-toggle" type="checkbox" class="hidden" />
    <label for="nav-toggle"
      class="order-3 cursor-pointer flex items-center lg:hidden text-text-dark dark:text-white lg:order-1">
      <svg class="h-6 fill-current" viewBox="0 0 20 20">
        <title>Menu Open</title>
        <path d="M0 3h20v2H0V3z m0 6h20v2H0V9z m0 6h20v2H0V0z"></path>
      </svg>
    </label>
    <!-- /navbar toggler -->

    <!-- main navbar -->
    <ul id="nav-menu"
      class="navbar-nav order-3 hidden lg:flex w-full pb-6 lg:order-1 lg:w-auto lg:space-x-2 lg:pb-0 xl:space-x-8 space-y-4 lg:space-y-0">
      <li class="block lg:hidden border-b border-border dark:border-darkmode-border">
        <div class="flex items-center justify-end py-6">
            {{ with site.Params.search }}{{ if .enable }}
            <button aria-label="search" class="border-border text-text-dark hover:text-primary dark:border-darkmode-border mr-5 inline-block border-r pr-5 text-xl dark:text-white dark:hover:text-darkmode-primary" data-target="search-modal">
              <i class="fa-solid fa-search"></i>
            </button>
            {{ end }}{{ end }}
            {{ if site.Params.theme_switcher }}
            <div class="theme-switcher mr-5 hidden">
              <input id="theme-switcher-mobile" data-theme-switcher type="checkbox" />
              <label for="theme-switcher-mobile">
                <span class="sr-only">theme switcher</span>
                <span>
                  <svg class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 z-10 opacity-100 dark:opacity-0" viewBox="0 0 56 56" fill="#fff" height="16" width="16">
                    <path d="M30 4.6c0-1-.9-2-2-2a2 2 0 0 0-2 2v5c0 1 .9 2 2 2s2-1 2-2Zm9.6 9a2 2 0 0 0 0 2.8c.8.8 2 .8 2.9 0L46 13a2 2 0 0 0 0-2.9 2 2 0 0 0-3 0Zm-26 2.8c.7.8 2 .8 2.8 0 .8-.7.8-2 0-2.9L13 10c-.7-.7-2-.8-2.9 0-.7.8-.7 2.1 0 3ZM28 16a12 12 0 0 0-12 12 12 12 0 0 0 12 12 12 12 0 0 0 12-12 12 12 0 0 0-12-12Zm23.3 14c1.1 0 2-.9 2-2s-.9-2-2-2h-4.9a2 2 0 0 0-2 2c0 1.1 1 2 2 2ZM4.7 26a2 2 0 0 0-2 2c0 1.1.9 2 2 2h4.9c1 0 2-.9 2-2s-1-2-2-2Zm37.8 13.6a2 2 0 0 0-3 0 2 2 0 0 0 0 2.9l3.6 3.5a2 2 0 0 0 2.9 0c.8-.8.8-2.1 0-3ZM10 43.1a2 2 0 0 0 0 2.9c.8.7 2.1.8 3 0l3.4-3.5c.8-.8.8-2.1 0-2.9-.8-.8-2-.8-2.9 0Zm20 3.4c0-1.1-.9-2-2-2a2 2 0 0 0-2 2v4.9c0 1 .9 2 2 2s2-1 2-2Z" />
                  </svg>
                  <svg class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 z-10 opacity-0 dark:opacity-100" viewBox="0 0 24 24" fill="none" height="16" width="16">
                    <path fill="#000" fill-rule="evenodd" clip-rule="evenodd" d="M8.2 2.2c1-.4 2 .6 1.6 1.5-1 3-.4 6.4 1.8 8.7a8.4 8.4 0 0 0 8.7 1.8c1-.3 2 .5 1.5 1.5v.1a10.3 10.3 0 0 1-9.4 6.2A10.3 10.3 0 0 1 3.2 6.7c1-2 2.9-3.5 4.9-4.4Z" />
                  </svg>
                </span>
              </label>
            </div>
            {{ end }}
          <label for="nav-toggle" class="cursor-pointer text-text-dark hover:text-primary dark:text-white dark:hover:text-darkmode-primary">
            <svg class="h-6 fill-current" viewBox="0 0 20 20">
              <title>Menu Close</title>
              <polygon points="11 9 22 9 22 11 11 11 11 22 9 22 9 11 -2 11 -2 9 9 9 9 -2 11 -2" transform="rotate(45 10 10)"></polygon>
            </svg>
          </label>
        </div>
      </li>
      {{ $currentPage := . }}
      {{ range site.Menus.main }}
      {{ $menuURL := .URL | absLangURL }}
      {{ $pageURL:= $currentPage.Permalink | absLangURL }}
      {{ $active := eq $menuURL $pageURL }}
      {{ if .HasChildren }}
      <li class="nav-item nav-dropdown group relative">
        <div  class="nav-link {{ range .Children }}
                {{ $childURL := .URL | absLangURL }}
                {{ $active := eq $childURL $pageURL }}
                {{ if $active }}active{{ end }}
              {{ end }} inline-flex items-center">
          {{ if eq .URL "#" }}
          <span class="break-keep cursor-default">{{ .Name }}</span>
          {{ else }}
          <a href="{{ .URL | absLangURL }}" class="break-keep">{{ .Name }}</a>
          {{ end }}
          <svg class="w-6 h-6 lg:h-4 lg:w-4 fill-current" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
          </svg>
        </div>
        <ul class="nav-dropdown-list lg:group-hover:visible lg:group-hover:opacity-100">
          {{ range .Children }}
          {{ $childURL := .URL | absLangURL }}
          {{ $active := eq $childURL $pageURL }}
          <li class="nav-dropdown-item">
            <a class="nav-dropdown-link {{ if $active }}
                      active
                    {{- end -}}" {{ if findRE `^http` .URL }} target="_blank" rel="noopener" {{ end }} href="{{- if findRE `^#` .URL -}}
                      {{- if not $.IsHome -}}
                        {{- site.Home.RelPermalink -}}
                      {{- end }}
                      {{- .URL -}}
                    {{- else -}}
                      {{- .URL | relLangURL -}}
                    {{- end -}}">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      </li>
      {{ else }}
      <li class="nav-item">
        <a class="nav-link break-keep {{ if $active }}active{{- end -}}" {{ if findRE `^http` .URL }} target="_blank"
          rel="noopener" {{ end }} href="{{- if findRE `^#` .URL -}}
                {{- if not $.IsHome -}}
                  {{- site.Home.RelPermalink -}}
                {{- end }}{{- .URL -}}
              {{- else -}}
                {{- .URL | relLangURL -}}
              {{- end -}}" >{{ .Name }}</a>
      </li>

      {{ end }}
      {{ end }}
      {{ if site.Params.navigation_button.enable }}
      <li class="mt-4 inline-block lg:hidden">
        <a class="btn btn-outline-primary btn-sm" href="{{ site.Params.navigation_button.link | relLangURL }}">
          {{ site.Params.navigation_button.label }}
        </a>
      </li>
      {{ end }}


    </ul>

    <div class="order-1 ml-auto flex items-center md:order-2 lg:ml-0">
      {{ with site.Params.search }}
      {{ if .enable }}
      <button aria-label="search" {{ if and (not site.Params.navigation_button.enable) (not site.Params.theme_switcher)
        }} class="border-border text-text-dark hover:text-primary
              dark:border-darkmode-border mr-5 inline-block border-r
              lg:border-r-0 pr-5 lg:pr-0 text-xl dark:text-white
              dark:hover:text-darkmode-primary" {{ else }} class="border-border text-text-dark hover:text-primary
              dark:border-darkmode-border mr-5 inline-block border-r pr-5
              text-xl dark:text-white dark:hover:text-darkmode-primary" {{ end }} data-target="search-modal">
        <i class="fa-solid fa-search"></i>
      </button>
      {{ end }}
      {{ end }}

      {{ partial "components/language-switcher" (dict "Context" . "Class" "mr-5 pl-2 py-1 dark:bg-darkmode-light rounded") }}
      {{ partial "components/theme-switcher" (dict "Class" "mr-5") }}


      <!-- navigation btn -->
      {{ if site.Params.navigation_button.enable }}
      <a href="{{ site.Params.navigation_button.link | relLangURL }}"
        class="btn btn-outline-primary btn-sm hidden lg:inline-block">
        {{ site.Params.navigation_button.label }}
      </a>
      {{ end }}
    </div>
  </nav>
</header>