/* Add your own custom styles here */

blockquote {
    padding-block: 1.5rem; /* or whatever spacing you want */
    margin: 0;
    background-color: #f6f6f6; /* Light grey background */
}

.form-input {
    background-color: #f6f6f6; /* Light grey background */
}

.font-gasoek {
  font-family: "Gasoek One", sans-serif;
  font-weight: 400;
}
