{{ define "main" }}
  <section class="section-sm text-center">
    <div class="container">
      <div class="row justify-center">
        <div class="sm:col-10 md:col-8 lg:col-6">
          <span
            class="text-[8rem] block font-bold text-text-dark dark:text-darkmode-text-dark">
            404
          </span>
          <h1 class="h2 mb-4">這是比無人島還無人的角落</h1>
          <div class="content">
            <p>
              錯的路再走一次一樣還是錯的。
            </p>
          </div>
          <a
            href="{{ site.BaseURL | relLangURL }}"
            class="btn btn-primary mt-8">
            回首頁
          </a>
        </div>
      </div>
    </div>
  </section>
{{ end }}
